.btn {
  display: inline-flex;
  padding: 10px 20px;

  font-family: $ff-basic;


  color: $color-default-white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;

  background-color: transparent;
  border: none;
  cursor: pointer;


  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
