.contacts-block {
  position: relative;
  padding: 56px 85px 56px 123px;
  width: 51%;

  @media (max-width: 1199px) {
    width: 100%;
    padding: 62px 30px 66px 132px;
  }

  @media (max-width: 767px) {
    width: 100%;
    padding: 64px 17px 68px;
  }
}

.contacts-content {
  @media (max-width: 1199px) {
    max-width: 703px;
    margin: 0 auto;
  }

  @media (max-width: 767px) {
    max-width: unset;
    margin: 0;
  }
}

.contacts-block h2 {
  font-family: $ff-heading;
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  color: $sapphire;
  letter-spacing: 0.03em;

  margin: 0;
  padding: 0;
  margin-bottom: 37px;

  @media (max-width: 1199px) {
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 33px;
  }

  @media (max-width: 767px) {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 35px;
  }
}

.contacts-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 110px;
  position: relative;

  @media (max-width: 1199px) {
    column-gap: 25px;
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    row-gap: 15px;
  }
}

.contacts-wrapper::before {
  position: absolute;
  content: "";
  top: 5%;
  left: 49%;
  width: 1px;
  height: 87%;
  background-color: #74819c;

  @media (max-width: 1199px) {
    top: 6%;
    left: 44%;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.contacts-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 1fr;

  gap: 15px;

  @media (max-width: 1199px) {
    gap: 15px;
  }
}

.contacts-item h4 {
  font-family: $ff-basic;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: $sapphire;

  margin: 0 0 3px 0;
  padding: 0;

  @media (max-width: 1199px) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (max-width: 767px) {
    margin: 0 0 5px 0;
  }
}

.contacts-item p,
.contacts-item a {
  font-family: $ff-basic;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $sapphire;

  margin: 0;
  margin-bottom: 5px;
  padding: 0;

  @media (max-width: 1199px) {
    font-size: 18px;
    line-height: 27px;
  }

  @media (max-width: 767px) {
    font-size: 17px;
  }
}

.contacts-item a:hover {
  border-bottom: 1px solid $sapphire;
}
