.contacts-block {
  position: relative;
  padding: 56px 123px;
  width: 51%;

  @media (max-width: 1199px) {
    width:100%;
    padding: 62px 132px 66px;
  }

  @media (max-width: 767px) {
    width:100%;
    padding: 64px 17px 62px;
  }
}

.contacts-block::before {
  position: absolute;
  content: '';
  top: 49%;
  left: 52%;
  width: 1px;
  height: 102px;
  background-color: #74819c;

  @media (max-width: 1199px) {
    top: 42%;
    height: 127px;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.contacts-block h2 {
  font-family: $ff-heading;
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  color: $sapphire;
  letter-spacing: 0.03em;

  margin: 0;
  padding: 0;
  margin-bottom: 37px;

  @media (max-width: 1199px) {
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 33px;
  }

  @media (max-width: 767px) {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 35px;
  }
}

.contacts-wrapper {
  display: flex;
  gap: 114px;
  position: relative;

  @media (max-width: 1199px) {
    gap: 88px;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    gap: 20px;
  }
}

.contacts-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 1fr;

  gap: 15px;

  @media (max-width: 1199px) {
    gap: 20px;
  }
}

.contacts-item h4 {
  font-family: $ff-basic;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: $sapphire;

  margin: 0 0 3px 0;
  padding: 0;

  @media (max-width: 1199px) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (max-width: 767px) {
    margin: 0 0 5px 0;
  }
}

.contacts-item p {
  font-family: $ff-basic;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $sapphire;

  margin: 0;
  padding: 0;

  @media (max-width: 1199px) {
    font-size: 18px;
    line-height: 27px;
  }
}
