.footer-wrapper {
  background-color: #030a1a;
  padding: 41px 0;

  @media (max-width: 1199px) {
    margin-left: unset;
  }

  @media (max-width: 767px) {
    padding: 51px 0;
  }
}

.footer {
  display: flex;
  justify-content: space-between;

  @media (max-width: 767px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-end;
    column-gap: 32px;
  }
}

.footer__logo {
  margin-top: 1px;

  @media (max-width: 1199px) {
    margin-top: -2px;
  }

  @media (max-width: 767px) {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: -20px 0 7px 0;
  }
}

.footer__logo svg {
  @media (max-width: 1199px) {
    width: 83px;
    height: 30px;
  }

  @media (max-width: 767px) {
    width: 67px;
    height: 16px;
  }
}

.footer__list {
  list-style-type: none;
  margin: 1px 0 0 9px;
  padding: 0;

  display: flex;
  justify-content: space-between;
  gap: 40px;
  width: 430px;

  @media (max-width: 1199px) {
    gap: 30px;
    width: 390px;
    margin: 8px 0 0 17px;
  }

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 19px;

    flex-direction: column;
    gap: 19px;

    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0;
    width: unset;
  }
}

.footer__item-hidden {
  @media (max-width: 767px) {
    display: none;
  }
}

.footer__item a {
  font-family: $ff-heading;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: $color-default-white;
}

.footer__list--mobile {
  display: none;

  @media (max-width: 767px) {
    display: flex;
    grid-column: 2/3;
    grid-row: 1/3;
  }
}

.footer__social-networks {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  gap: 11px;

  @media (max-width: 1199px) {
    margin-top: 5px;
    margin-right: -6px;
  }

  @media (max-width: 767px) {
    grid-column: 1/2;
    grid-row: 3/4;
    margin-top: 35px;
    margin-right: 0;
  }
}

.footer__social-networks-item svg {
  width: 25px;
  height: 25px;
}
