.gym-wrapper {
  padding: 120px 103px 109px;
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  position: relative;

  @media (max-width: 1199px) {
    padding: 100px 45px 112px;
  }

  @media (max-width: 767px) {
    padding: 64px 0 70px;
  }
}

.gym {
  display: flex;
  gap: 64px;

  @media (max-width: 1199px) {
    flex-direction: column;
    gap: 23px;
  }

  @media (max-width: 767px) {
    gap: 32px;
  }
}

// стиизация текстового блока
.gym-descripton {
  padding: 40px 0 40px 60px;
  max-width: 436px;
  flex: 1 1 auto;

  @media (max-width: 1199px) {
    padding: 0 78px 0 88px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 767px) {
    align-items: flex-start;
    padding: 0 15px;
    margin-left: 0;
  }
}

.gym-descripton h2 {
  font-family: $ff-heading;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.03em;
  color: $sapphire;

  margin: 0 0 4px 0;
  padding: 0;

  @media (max-width: 1199px) {
    letter-spacing: 0.02em;
    font-size: 42px;
    line-height: 50px;

    margin: 0 0 -2px -21px;
  }

  @media (max-width: 767px) {
    font-size: 32px;
    line-height: 38px;
    margin: 0 0 4px 0;
  }
}

.gym-descripton span {
  font-family: $ff-basic;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: $sapphire;

  display: block;
  margin: 0 0 40px 0;

  @media (max-width: 1199px) {
    margin: 0 0 35px -10px;
  }

  @media (max-width: 767px) {
    margin: 0 0 26px 0;
  }
}

.gym-descripton p {
  font-family: $ff-basic;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: $sapphire;

  margin: 0 0 10px 0;
  padding: 0;

  @media (max-width: 1199px) {
    margin: 0;
    text-align: center;
  }

  @media (max-width: 767px) {
    margin-right: 25px;
    text-align: unset;
  }
}

.gym-description-tablet {
  @media (max-width: 1199px) {
    display: none;
  }
}

// стилизация контейнера для изображения и видео
.gym-image {
  position: relative;
  flex: 1 1 auto;
  z-index: 1;

  @media (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 767px) {
    gap: 40px;
  }
}

// стилизация изображения тренажерного зала
.gym-image__wrapper {
  position: relative;
  width: 100%;
  max-width: 660px;
  height: 401px;

  @media (max-width: 1199px) {
    height: 384px;
    max-width: unset;
    overflow: hidden;
  }

  @media (max-width: 767px) {
    height: 313px;
    max-width: unset;
    overflow: auto;
  }
}

.gym-image__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom left;

  @media (max-width: 1199px) {
    transform: scale(1.16, 0.9);
    object-position: left -40px top 50%;
  }

  @media (max-width: 900px) {
    transform: scale(1.16, 0.9);
    object-position: left -40px top -23px;
  }

  @media (max-width: 767px) {
    transform: unset;
    object-position: top -2px right -16px;
  }
}

// стилизация видео тренажерного зала
.gym-video {
  position: relative;
  width: 340px;
  height: 228px;
  z-index: 10;

  margin-top: -101px;
  margin-left: -60px;

  @media (max-width: 1199px) {
    margin-top: -89px;
    margin-left: -22px;
    width: 37%;
    height: 0;
    padding-bottom: 21%;
  }

  @media (max-width: 767px) {
    margin: 0;
    width: 100%;
    height: 0;
    padding-bottom: 52%;
  }
}

.gym-video__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gym-video__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  object-fit: cover;

  transform: scale(1.15, 1.1);
  object-position: top -20px right -19px;

  @media (max-width: 1199px) {
    transform: scale(1.15, 1.17);
    object-position: top -20px right -17px;
  }

  @media (max-width: 767px) {
    transform: unset;
    object-position: top -4px right 0;
  }
}

.gym-button {
  position: absolute;
  top: 46%;
  left: 122px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (max-width: 1199px) {
    top: 50%;
    left: 54%;
    transform: translate(-50%, -50%);
  }

  @media (max-width: 767px) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.gym-button img {
  @media (max-width: 1199px) {
    height: 70px;
    width: 70px;
  }
}

.gym-video:hover .gym-button,
.gym-button:focus {
  border: 2px solid $color-default-white;
}

// enabled
.gym-video--enabled {
  cursor: pointer;
}

.gym-video--enabled .gym-button {
  display: block;
}
