.section-wrapper {
  background: linear-gradient(90deg, $sapphire 50%, $color-default-white 50%, $color-default-white 100%);
  border-top: 1px solid #74819c;

  @media (max-width: 1199px) {
    background: linear-gradient(180deg, rgba(16, 38, 84, 1) 48%, rgba(255, 255, 255, 1) 48%, rgba(255, 255, 255, 1) 100%);
  }

  @media (max-width: 1199px) {
    background: linear-gradient(180deg, rgba(16, 38, 84, 1) 40%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 1) 100%);
  }
}

.section-wrapper__content {
  max-width: 1366px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  position: relative;

  @media (max-width: 1199px) {
    flex-direction: column;
  }
}
