.subscription-wrapper {
  background-color: $ghost-white;
  position: relative;
}

.subscription-wrapper::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(0, 17%);
  width: 286px;
  height: 412px;
  background-image: url("../img/rod-discs-desktop.png");
  background-repeat: no-repeat;

  @supports (background-image: url("../img/rod-discs-desktop.webp")) {
    background-image: url("../img/rod-discs-desktop.webp");
  }

  @media only screen and (min-resolution: 1.5),
    only screen and (min-resolution: 144dpi) {
    background-image: url("../img/rod-discs-desktop@2x.jpg");

    @supports (background-image: url("../img/rod-discs-desktop@2x.webp")) {
      background-image: url("../img/rod-discs-desktop@2x.webp");
    }
  }

  @media (max-width: 1199px) {
    background-image: url("../img/rod-discs-tablet.jpg");
    transform: translate(0, 23%);
    width: 346px;

    @supports (background-image: url("../img/rod-discs-tablet.webp")) {
      background-image: url("../img/rod-discs-tablet.webp");
    }

    @media only screen and (min-resolution: 1.5),
      only screen and (min-resolution: 144dpi) {
      background-image: url("../img/rod-discs-tablet@2x.jpg");

      @supports (background-image: url("../img/rod-discs-tablet@2x.webp")) {
        background-image: url("../img/rod-discs-tablet@2x.webp");
      }
    }
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.subscription {
  padding: 122px 0;
  text-align: center;

  @media (max-width: 1199px) {
    padding: 101px 0;
  }

  @media (max-width: 767px) {
    padding: 70px 0 72px;
  }
}

.subscription h2 {
  font-family: $ff-heading;
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  color: $sapphire;
  letter-spacing: 0.03em;

  margin: 0;
  padding: 0;
  margin-bottom: 8px;

  @media (max-width: 1199px) {
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 0.02em;
    margin: 0 0 8px -14px;
  }

  @media (max-width: 767px) {
    font-size: 32px;
    line-height: 38px;
  }
}

.container--tabs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-flex;
  flex-direction: row;
  position: relative;
  gap: 46px;
  margin-bottom: 38px;

  @media (max-width: 1199px) {
    gap: 53px;
    margin-bottom: 42px;
  }

  @media (max-width: 767px) {
    gap: 45px;
    margin-bottom: 38px;
  }
}

.container--tabs::after {
  position: absolute;
  content: "";
  top: 97%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(120, 120, 120, 0.2);
}

.tab {
  font-family: $ff-basic;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $sapphire;
  opacity: 0.5;
  padding: 10px 0;
  cursor: pointer;

  @media (max-width: 1199px) {
    font-size: 18px;
  }

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 24px;
    padding: 12px 0;
  }
}

.tab--active {
  opacity: 1;
  border-bottom: 2px solid #d10a42;
}

// стилизация содержимого вкладок
.content {
  display: none;
  z-index: 10;
  position: relative;
}

.content--active {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;

  @media (max-width: 1199px) {
    grid-template-columns: 1fr;
    padding: 0 117px;
  }

  @media (max-width: 767px) {
    padding: 0;
    gap: 33px;
  }
}

.content-item {
  display: flex;
  flex-direction: column;
  background-color: $color-default-white;
  padding: 56px 69px 61px 69px;
  border: 7px solid transparent;
  outline: none;
  overflow: auto;
  max-height: 448px;


  @media (max-width: 1199px) {
    padding: 59px 110px 60px;
  }

  @media (max-width: 767px) {
    padding: 41px 34px 49px 33px;
    max-height: 384px;
  }
}

.content-item:hover,
.content-item:focus {
  border: 7px solid;
  border-image-slice: 1;
  border-width: 7px;
  border-image-source: linear-gradient(145deg, #d10a43 0%, #00359f 100%);
}

.content-item h3 {
  font-family: $ff-basic;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 29px;
  color: $sapphire;

  margin: 0;
  padding: 0;
  margin-bottom: 10px;

  @media (max-width: 767px) {
    font-size: 22px;
    line-height: 24px;
  }
}

.content__number-workout {
  font-family: $ff-basic;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $chambray;

  margin-bottom: 67px;

  @media (max-width: 767px) {
    margin-bottom: 54px;
  }
}

.content__price-workout {
  font-family: $ff-basic;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
  color: $egyptian-blue;
  white-space: nowrap;

  margin-bottom: 32px;
  position: relative;
  z-index: 10;
  justify-content: center;

  @media (max-width: 767px) {
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 30px;
  }
}

.content__price-workout svg {
  @media (max-width: 767px) {
    width: 24px;
    height: 33px;
  }
}

.content__price-workout--shadow {
  position: absolute;
  content: "";
  bottom: -5%;
  left: 50%;
  transform: translateX(-50%);
  font-family: $ff-basic;
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 150px;
  color: #e8e8e8;
  opacity: 0.48;
  z-index: -1;

  @media (max-width: 767px) {
    font-size: 80px;
    line-height: 120px;
  }
}

.content__buy {
  color: $sapphire;
  border: 2px solid $sapphire;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.content-item:hover .content__buy,
.content-item:focus .content__buy,
.content__buy:hover {
  color: $color-default-white;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
  background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
}
