.trainers-wrapper {
  padding: 0 67px 90px 65px;
  margin: 0 auto;
  width: 100%;
  max-width: 1291px;
  position: relative;

  @media (max-width: 1199px) {
    padding: 0 45px;
  }

  @media (max-width: 767px) {
    padding: 0 15px 35px;
  }
}

.trainers-wrapper h2 {
  font-family: $ff-heading;
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  color: $sapphire;
  text-align: left;
  letter-spacing: 0.03em;

  margin: 0;
  padding: 0;
  margin-bottom: 49px;

  @media (max-width: 1199px) {
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 31px;
  }

  @media (max-width: 767px) {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 42px;
  }
}

.swiper-trainers {
  overflow: hidden;

  @media (max-width: 1199px) {
    margin: 0 56px;
  }

  @media (max-width: 767px) {
    margin: 0 32px 0 32px;
  }
}

.trainers-wrapper button {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 52%;

  @media (max-width: 1199px) {
    top: 61%;
  }

  @media (max-width: 767px) {
    top: 55%;
  }
}

.swiper-button-prev,
.swiper-button-next {
  border: none;
  background-color: transparent;
}

.swiper-button-prev {
  @media (max-width: 1199px) {
    top: 62%;
    left: 40px;
  }

  @media (max-width: 767px) {
    top: 55%;
    left: 8px;
  }
}

.swiper-button-next {
  @media (max-width: 1199px) {
    top: 62%;
    right: 40px;
  }

  @media (max-width: 767px) {
    top: 55%;
    right: 8px;
  }
}

.swiper-button-prev::after {
  content: "";
  background-image: url("../../img/svg/arrow-prev.svg");
  width: 16px;
  height: 32px;

  @media (max-width: 767px) {
    width: 10px;
    height: 28px;
  }
}

.swiper-button-next::after {
  content: "";
  background-image: url("../../img/svg/arrow-next.svg");
  width: 18px;
  height: 32px;

  @media (max-width: 767px) {
    width: 10px;
    height: 28px;
  }
}

.slider-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider-image-wrapper img {
  width: 100%;
  height: 100%;
  // object-fit: cover;
}

.slider-card {
  height: 0;
  padding-bottom: 25.4%;
  position: relative;

  @media (max-width: 1199px) {
    padding-bottom: 51.9%;
  }

  @media (max-width: 767px) {
    padding-bottom: 121%;
  }
}

.slider-card h4,
.slider-card h5 {
  font-family: $ff-basic;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: $color-default-white;
  z-index: 10;

  margin: 0;
  padding: 0;
  text-align: center;
}

.slider-card h4 {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;

  @media (max-width: 1199px) {
    bottom: 23px;
    left: 51%;
  }
}

.slider-card:hover .slider-inner-layer {
  display: block;
}

.slider-card:hover h4 {
  display: none;
}

.slider-inner-layer {
  background-color: $sapphire;
  opacity: 0.89;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding: 50px 27px 0 31px;
  display: none;

  @media (max-width: 1199px) {
    padding: 52px 27px 0 32px;
  }

  @media (max-width: 767px) {
    padding: 41px 27px 0 10px;
  }
}

.slider-card h5 {
  @media (max-width: 1199px) {
    margin-left: -10px;
  }

  @media (max-width: 767px) {
    margin-left: 15px;
  }
}

.slider-card p {
  font-family: $ff-basic;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #b6bdcc;

  margin: 0;
  padding: 0;
  margin-top: -5px;
  margin-bottom: 33px;
  text-align: center;

  @media (max-width: 1199px) {
    margin-left: -10px;
  }

  @media (max-width: 767px) {
    margin-left: 15px;
  }
}

.trainer-info {
  list-style-type: none;
  font-family: $ff-basic;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-default-white;
}

.trainer-info li {
  margin-bottom: 13px;
  position: relative;
}

.trainer-info li::before {
  position: absolute;
  content: "";
  top: 10px;
  left: -11%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  background-color: $color-default-white;
  border-radius: 50%;
}
